:root {
    --search-input-width: 10rem !important;
    --search-result-width: 20rem !important;
}

code {
    color: #476582;
    background-color: rgba(27, 31, 35, .05);
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}